<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                            My personal interests include:
        </p>
                        <ul>
                          <li>
                                 <b>Mobile platforms programming</b>. As the mobile applications trend is currently on a hype i find it is an exciting time for mobile applications programming. I’m working through several online classes, and building a production ready mobile iOS application
                          </li>
                          <li>
                                  <b>Basketball</b>. I’ve been growing up playing basketball as an amateur player and i kept this hobby all the way through adulthood. I enjoy spending the weekends on the court balling with my friends.
                          </li>
                          <li>
                                  <b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
      					</li>
                        </ul>
                </div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
                  <ul>
                        <li>
E-commerce project for one of the biggest house-holding items maker and seller which is generating more than $60 mil in revenue per year
                </li>
                        <li>
          Vert.x open-source project contributor. Vert.x is a java open-source project that makes it easier to build production ready non-blocking microservices
                        </li>
                    </ul>
      </div>
    </div>
  </div>
</section>
